[submodule "TeamCode/src/main/java/org/firstinspires/ftc/teamcode/lib"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/lib
	url = https://github.com/FRC-4481-Team-Rembrandts/ftc-library
